{{> header.hbs }}
<!-- ENCABEZADO -->


<section class="section">
    <div class="container">
        {{#notification}}
            <div class="notification {{type}} is-light">
                <button class="delete info"></button>
                {{text}}
            </div>
        {{/notification}}

        <h1 class="title">Empleados</h1>
        {{#exists}}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Ciudad</th>
                    <th>Avatar</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                {{#employees}}
                        <td class="is-vcentered">{{id}}</td>
                        <td class="is-vcentered">{{name}}</td>
                        <td class="is-vcentered">{{email}}</td>
                        <td class="is-vcentered">{{city}}</td>
                        <td class="is-vcentered">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{image}}">
                            </figure>
                        </td>
                        <td class="is-vcentered">
                            <a href="/employee?action=edit&id={{id}}" class="button is-warning mr-2 mr-2">
                            <span class="icon is-small">
                            <i class="mdi mdi-account-edit"></i>
                            </span>
                            <span>Editar</span>
                            </a>
                            <a href="/delete?id={{id}}" class="button is-danger mr-2">
                            <span class="icon is-small">
                                <i class="mdi mdi-account-remove"></i>
                            </span>
                            <span>Eliminar</span>
                            </a>
                        </td>
                    </tr>
                {{/employees}}
                </tbody>
            </table>
        {{/exists}}

        {{^exists}}
            <div class="notification is-info is-light">
                <button class="delete info"></button>
                No hay empleados. Por favor inserta uno.
            </div>
        {{/exists}}

        <div class="container pt-2">
            <div class="columns">
                <a href="/employee?action=new" class="button is-primary">
                     <span class="icon is-small">
                            <i class="mdi mdi-account-plus"></i>
                        </span>
                    <span>Nuevo</span>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
{{> footer.hbs }}
